<!DOCTYPE html>
<html>
<head>
	<title> The Great RGB game</title>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="landing.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


</head>

<body>
	<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="content">
        <h1 class="first"><i class="fas fa-braille"></i>  The Great RGB Game</h1>
        <h3>The Only Web Developers Game! </h3>
        <hr>
        <a href="/game" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-play-circle"></i> Let's Play</a>
        <a target="blank" href="https://en.wikipedia.org/wiki/RGB_color_model" class="btn btn-danger btn-lg"><i class="glyphicon glyphicon-hand-right"></i> Quick Note</a>
      </div>
    </div>
  </div>
 </div>


</body>
</html>